body {
  background-color: #050d25;
}
.jumbotron {
  padding-top: 5rem;
}
.img {
  margin-top: 6rem;
  float: left;
  width: 400px;
  height: 400px;
  padding: 0 50px 0 0;
  margin-left: 10rem;
}
.img:hover {
  transition-delay: 1s;
  transition: 5s;
  transform: rotateY(360deg);
}
.Text {
  margin-right: 8rem;
}
.imgnav:hover {
  transition: 2s;
  transform: rotateX(360deg);
}
.ig {
  margin-left: 36rem;
  margin-top: 3rem;
}
/* nav underline */
.nav-item {
  margin-left: 3rem;
}
.nav-item a {
  text-shadow: 0 0 20px white;
}
.nav-item:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid white;
  margin-bottom: -3px;
}
nav {
  border-radius: 50px;
  box-shadow: 2px 2px 8px white;
  background-color: rgba(0, 0, 0, 0.397);
}
/* Underline end */

/* p animation */
p {
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 7px;
  cursor: pointer;
  text-shadow: 10px 10px 50px white, 0 0 25px rgb(15, 15, 170);
}
p span {
  transition: 0.5s linear;
}
p:hover span:nth-child(1) {
  margin-right: 5px;
}
p:hover span:nth-child(1):after {
  content: "";
}
p:hover span:nth-child(2) {
  margin-left: 30px;
}
p:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
/* end */
/* H1 animation */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  padding-top: 200px;
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #0052cc, 0 0 15px #2600ff, 0 0 20px #2300ec, 0 0 40px #9900ff, 0 0 60px #5307aa, 0 0 10px #6f32ff, 0 0 98px #3c0583;
  color: #0004ff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ae00ff, 0 0 15px #4400ff, 0 0 20px #410dd1, 0 0 40px #0066ff, 0 0 60px #0066ff, 0 0 10px #2309b9, 0 0 98px #008cff;
    color: #00e1ff;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffffff, 0 0 15px black, 0 0 20px #6200ff, 0 0 40px #216eff, 0 0 60px #2f00ff, 0 0 10px #00a2ff, 0 0 98px #0011ff;
    color: #000cb6;
  }
}

/* Android breakpoint */

@media screen and (max-width: 768px) {
}
/* Android */
@media screen and (max-width: 576px) {
  .jumbotron {
    margin-top: 0rem;
  }
  .img {
    margin-left: 6rem;
    width: 350px;
    height: 350px;
  }
  .Text {
    margin-left: 6rem;
    margin-right: 2px;
  }
  .ig {
    margin-left: 20rem;
    margin-top: 2rem;
    width: 100px;
    height: 100px;
  }
  nav {
    border-radius: 10px;
  }
}
/* end */
